{
  "openapi": "3.1.0",
  "info": {
    "title": "Crawleo API",
    "description": "AI-powered web scraping and search API. Extract data from any website with ease.",
    "version": "1.0.0",
    "contact": {
      "name": "Crawleo Support",
      "email": "support@crawleo.dev",
      "url": "https://www.crawleo.dev"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.crawleo.dev",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your API key. Format: Bearer YOUR_API_KEY"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "example": "machine learning",
            "description": "The search query that was executed"
          },
          "pages_fetched": {
            "type": "integer",
            "example": 1,
            "description": "Number of pages fetched from the search engine"
          },
          "pages": {
            "type": "object",
            "description": "Object containing results keyed by page number"
          },
          "credits": {
            "type": "integer",
            "example": 10,
            "description": "Credits used for this request"
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "Array of crawl result objects",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL that was crawled"
                },
                "status": {
                  "type": "integer",
                  "description": "HTTP status code of the crawled page"
                },
                "raw_html": {
                  "type": "string",
                  "description": "Raw HTML content (if requested)"
                },
                "enhanced_html": {
                  "type": "string",
                  "description": "Cleaned HTML with ads and scripts removed"
                },
                "page_text": {
                  "type": "string",
                  "description": "Plain text extraction of the page"
                },
                "markdown": {
                  "type": "string",
                  "description": "Markdown conversion of the page content"
                },
                "screenshot": {
                  "type": "string",
                  "description": "Base64 encoded screenshot (if requested)"
                },
                "error": {
                  "type": "string",
                  "description": "Error message if the crawl failed for this URL"
                }
              }
            }
          },
          "credits": {
            "type": "integer",
            "description": "Total credits used for this request"
          },
          "successful_pages": {
            "type": "integer",
            "description": "Number of URLs successfully crawled"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "INVALID_API_KEY",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "example": "Invalid or missing API key",
                "description": "Human-readable error message"
              }
            }
          }
        }
      },
      "GoogleMapsResponse": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "description": "Echo of the query parameters used for this request",
            "properties": {
              "q": {
                "type": "string",
                "description": "The search query"
              },
              "num": {
                "type": "integer",
                "description": "Number of results per page"
              },
              "page": {
                "type": "integer",
                "description": "Page number of results"
              }
            }
          },
          "google_maps_results": {
            "type": "array",
            "description": "Array of place result objects",
            "items": {
              "type": "object",
              "properties": {
                "position": {
                  "type": "integer",
                  "description": "Ranking position in the results list"
                },
                "title": {
                  "type": "string",
                  "description": "Name of the place or business"
                },
                "address": {
                  "type": "string",
                  "description": "Full street address of the place"
                },
                "rating": {
                  "type": "number",
                  "description": "Average user rating (e.g. 4.7)"
                },
                "ratingCount": {
                  "type": "integer",
                  "description": "Total number of user ratings"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "Phone number of the business"
                },
                "website": {
                  "type": "string",
                  "description": "Website URL of the business"
                },
                "type": {
                  "type": "string",
                  "description": "Primary business or place category"
                },
                "types": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "All categories associated with the place"
                },
                "priceLevel": {
                  "type": "string",
                  "description": "Price range indicator (e.g. €1–10)"
                },
                "placeId": {
                  "type": "string",
                  "description": "Google Place ID"
                },
                "cid": {
                  "type": "string",
                  "description": "Google business/customer ID"
                },
                "latitude": {
                  "type": "number",
                  "description": "Latitude coordinate of the place"
                },
                "longitude": {
                  "type": "number",
                  "description": "Longitude coordinate of the place"
                },
                "openingHours": {
                  "type": "object",
                  "description": "Opening hours keyed by day of week"
                },
                "thumbnailUrl": {
                  "type": "string",
                  "description": "URL of the place thumbnail image"
                }
              }
            }
          },
          "credits": {
            "type": "integer",
            "example": 30,
            "description": "Credits used for this request"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Search API",
        "description": "Real-time web search with optional automatic crawling of search results. Perfect for AI applications that need fresh web data.",
        "operationId": "search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search query string",
            "required": true,
            "schema": {
              "type": "string",
              "example": "machine learning tutorials"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return per page (1-50)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "max_pages",
            "in": "query",
            "description": "Maximum number of search result pages to fetch. Each page costs 10 credits.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "description": "Language code for search results (e.g., en, es, fr, de)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "description": "Country code for search results (e.g., US, GB, DE)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "geolocation",
            "in": "query",
            "description": "Geographic location for localized results",
            "required": false,
            "schema": {
              "type": "string",
              "example": "us"
            }
          },
          {
            "name": "device",
            "in": "query",
            "description": "Device type to simulate (desktop, mobile, tablet)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desktop",
              "enum": ["desktop", "mobile", "tablet"]
            }
          },
          {
            "name": "get_raw_html",
            "in": "query",
            "description": "Return the original HTML source of each result page",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "get_ai_enhanced_html",
            "in": "query",
            "description": "Return clean HTML with ads, scripts, and tracking removed",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "get_page_text",
            "in": "query",
            "description": "Return plain text content extracted from each result page",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "get_page_text_markdown",
            "in": "query",
            "description": "Return content as structured Markdown (recommended for RAG/LLM)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "auto_crawling",
            "in": "query",
            "description": "Automatically crawl each search result URL and include page content",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "query": "machine learning",
                  "pages_fetched": 1,
                  "pages": {
                    "1": {
                      "total_results": "About 1,230,000 results",
                      "search_results": [
                        {
                          "title": "Machine Learning - Wikipedia",
                          "link": "https://en.wikipedia.org/wiki/Machine_learning",
                          "date": null,
                          "snippet": "Machine learning is a branch of artificial intelligence...",
                          "source": "Wikipedia"
                        }
                      ]
                    }
                  },
                  "credits": 10
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Credits exhausted or concurrent request limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/google-maps": {
      "get": {
        "summary": "Google Maps API",
        "description": "Search for businesses, places, landmarks, and locations on Google Maps. Retrieve structured place data including addresses, ratings, phone numbers, coordinates, and more. Ideal for local search, business discovery, and place lookups.",
        "operationId": "googleMaps",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query. Accepts business names, landmarks, addresses, keywords, and category + location queries (e.g. 'restaurants in Paris', 'Eiffel Tower', 'hotels near Times Square New York').",
            "required": true,
            "schema": {
              "type": "string",
              "example": "restaurants in Paris"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "description": "Language code for returned text. ISO 639-1 language code (e.g. en, ar, fr, de). Affects localization of place names, categories, and other text fields.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "Location bias in the format @latitude,longitude,zoomz (e.g. @48.8566,2.3522,15z). Biases results toward the specified geographic area without strictly limiting them.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "@48.8566,2.3522,15z"
            }
          },
          {
            "name": "placeId",
            "in": "query",
            "description": "Google Place ID for looking up a specific place directly (e.g. ChIJLU7jZClu5kcR4PcOOO6p3I0).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ChIJLU7jZClu5kcR4PcOOO6p3I0"
            }
          },
          {
            "name": "cid",
            "in": "query",
            "description": "Google numeric business/customer ID for targeting a specific business listing.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "10311848498909477344"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Google Maps response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleMapsResponse"
                },
                "example": {
                  "parameters": {
                    "q": "restaurants in Paris",
                    "hl": "fr"
                  },
                  "google_maps_results": [
                    {
                      "title": "Le Comptoir du Panthéon",
                      "address": "5 Rue Soufflot, 75005 Paris",
                      "rating": 4.3,
                      "ratingCount": 2541,
                      "phone": "+33 1 43 54 75 56",
                      "website": "https://example.com",
                      "category": "French Restaurant",
                      "placeId": "ChIJLU7jZClu5kcR4PcOOO6p3I0",
                      "cid": "10311848498909477344",
                      "latitude": 48.8462,
                      "longitude": 2.3464,
                      "openingHours": "12:00 PM – 11:00 PM",
                      "priceRange": "$$"
                    }
                  ],
                  "credits": 30
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required query parameter q",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Inactive account or expired subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Credits exhausted or concurrent request limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "get": {
        "summary": "Crawler API",
        "description": "Direct URL crawling with JavaScript rendering support. Ideal for extracting content from single pages or multiple URLs in a single request.",
        "operationId": "crawl",
        "parameters": [
          {
            "name": "urls",
            "in": "query",
            "description": "URL(s) to crawl. Can be a single URL or comma-separated list",
            "required": true,
            "schema": {
              "type": "string",
              "example": "https://example.com"
            }
          },
          {
            "name": "render_js",
            "in": "query",
            "description": "Enable browser rendering for JavaScript-heavy sites",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "geolocation",
            "in": "query",
            "description": "ISO 3166-1 alpha-2 country code for geolocation (e.g., us, gb, de)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "us"
            }
          },
          {
            "name": "raw_html",
            "in": "query",
            "description": "Return the raw HTML as-is from the page source",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "enhanced_html",
            "in": "query",
            "description": "Return cleaned/sanitized HTML with ads, scripts, and tracking removed",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "page_text",
            "in": "query",
            "description": "Return plain-text extraction of the page content",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "markdown",
            "in": "query",
            "description": "Return markdown conversion (recommended for RAG/LLM applications)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "screenshot",
            "in": "query",
            "description": "Capture a screenshot of the page. Only available when render_js=true",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "screenshot_full_page",
            "in": "query",
            "description": "Capture full-page screenshot vs viewport only",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful crawl response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                },
                "example": {
                  "results": [
                    {
                      "url": "https://example.com",
                      "status_code": 200,
                      "enhanced_html": "<html>...</html>",
                      "markdown": "# Example Domain\n\nThis domain is for use in examples..."
                    }
                  ],
                  "credits": 1,
                  "successful_pages": 1
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Credits exhausted or concurrent request limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Real-time web search endpoints"
    },
    {
      "name": "Google Maps",
      "description": "Google Maps place search endpoints"
    },
    {
      "name": "Crawler",
      "description": "Direct URL crawling endpoints"
    }
  ]
}
